<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asesoriasacademicasweb.asesoriasacademicas">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher_sosakademico_cake"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_sosakademico_cake_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsesoriasAcademicas">
        <activity android:name=".EditarPerfilActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".FechaClaseActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".HoraClaseAcivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".EditarClaseActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".GananciasActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".PopupDetalleClaseActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".GestionarClaseActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".SolicitarClaseActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".RegistrarseActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".LoginActivity" android:theme="@style/SplashTheme" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DialogActivity"/>
        <activity android:name=".InicioActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".GestionarAlumnosClase" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".IngresarAlumnoActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".EditarAlumnoActivity" android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>